<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>debug-code</title>
    <link rel="stylesheet" href="/static/css/basis.css">
    <link rel="stylesheet" href="/static/css/geekerblog.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <style>




    </style>

</head>

<body>

<div class="head">
    <a class="head-logo-text" href="#">Geeker Blog</a>
</div>

<div class="content">

    <!--			list-->
    <div class="container">

        <ul class="content-list">
            <li class="content-list-item">
                <div class="article">
                    <p><br></p>
                    <h1 class="title"><a href="#">系统偏好设置</a></h1>
                    <article>
                        <div>Jun 18, 2017</div>
                        <div>
                            <blockquote>
                                <p>很久没有更新博客了, 前段时间迷上了王者农药, 戒了农药后又重新入了暴雪爸爸<code>暗黑3</code>的大坑, 呵呵.<br>除此之外, 公司离职回来一直准备毕业论文、毕业答辩、毕业相关材料, 真是焦头烂额.<br>不过想想十九年求学生涯就要结束了, 即将AFK了, 简直幸福.</p>
                            </blockquote>

                        </div>
                    </article>
                </div>
                <div class="tags">
							<span class="tag-list"><i class="fa fa-tags" aria-hidden="true"></i>
								<a class="tag-name" href="">docker</a>
								<a class="tag-name" href="">docker</a>
							</span>
                    <span class="tag-list"><i class="fa fa-heart" aria-hidden="true"></i>docker </span>
                    <span class="tag-list"><i class="fa fa-comment" aria-hidden="true"></i>docker </span>

                </div>
            </li>
            <li class="content-list-item">
                <div class="article">
                    <p><br></p>
                    <h1 class="title"><a href="#">系统偏好设置</a></h1>
                    <article>
                        <div>Jun 18, 2017</div>
                        <div>
                            <blockquote>
                                <p>很久没有更新博客了, 前段时间迷上了王者农药, 戒了农药后又重新入了暴雪爸爸<code>暗黑3</code>的大坑, 呵呵.<br>除此之外, 公司离职回来一直准备毕业论文、毕业答辩、毕业相关材料, 真是焦头烂额.<br>不过想想十九年求学生涯就要结束了, 即将AFK了, 简直幸福.</p>
                            </blockquote>

                        </div>
                    </article>
                </div>
                <div class="tags">
							<span class="tag-list"><i class="fa fa-tags" aria-hidden="true"></i>
								<a class="tag-name" href="">docker</a>
								<a class="tag-name" href="">docker</a>
							</span>
                    <span class="tag-list"><i class="fa fa-tags" aria-hidden="true"></i>docker </span>
                    <span class="tag-list"><i class="fa fa-tags" aria-hidden="true"></i>docker </span>

                </div>
            </li>
            <li class="content-list-item">
                <div class="article">
                    <p><br></p>
                    <h1 class="title"><a href="#">系统偏好设置</a></h1>
                    <article>
                        <div>Jun 18, 2017</div>
                        <div>
                            <blockquote>
                                <p>很久没有更新博客了, 前段时间迷上了王者农药, 戒了农药后又重新入了暴雪爸爸<code>暗黑3</code>的大坑, 呵呵.<br>除此之外, 公司离职回来一直准备毕业论文、毕业答辩、毕业相关材料, 真是焦头烂额.<br>不过想想十九年求学生涯就要结束了, 即将AFK了, 简直幸福.</p>
                            </blockquote>

                        </div>
                    </article>
                </div>
                <div class="tags">
							<span class="tag-list"><i class="fa fa-tags" aria-hidden="true"></i>
								<a class="tag-name" href="">docker</a>
								<a class="tag-name" href="">docker</a>
							</span>
                    <span class="tag-list"><i class="fa fa-tags" aria-hidden="true"></i>docker </span>
                    <span class="tag-list"><i class="fa fa-tags" aria-hidden="true"></i>docker </span>

                </div>
            </li>
            <li class="content-list-item">
                <div class="article">
                    <p><br></p>
                    <h1 class="title"><a href="#">系统偏好设置</a></h1>
                    <article>
                        <div>Jun 18, 2017</div>
                        <div>
                            <blockquote>
                                <p>很久没有更新博客了, 前段时间迷上了王者农药, 戒了农药后又重新入了暴雪爸爸
                                    <code>暗黑3</code>的大坑, 呵呵.<br>除此之外,
                                    公司离职回来一直准备毕业论文、毕业答辩、毕业相关材料,
                                    真是焦头烂额.<br>不过想想十九年求学生涯就要结束了, 即将AFK了, 简直幸福.</p>
                            </blockquote>

                        </div>
                    </article>
                </div>
                <div class="tags">
							<span class="tag-list"><i class="fa fa-tags" aria-hidden="true"></i>
								<a class="tag-name" href="">docker</a>
								<a class="tag-name" href="">docker</a>
							</span>
                    <span class="tag-list"><i class="fa fa-tags" aria-hidden="true"></i>docker </span>
                    <span class="tag-list"><i class="fa fa-tags" aria-hidden="true"></i>docker </span>

                </div>
            </li>
            <li class="content-list-item">
                <div class="article">
                    <p><br></p>
                    <h1 class="title"><a href="#">系统偏好设置</a></h1>
                    <article>
                        <div>Jun 18, 2017</div>
                        <div>
                            <blockquote>
                                <p>很久没有更新博客了, 前段时间迷上了王者农药, 戒了农药后又重新入了暴雪爸爸<code>暗黑3</code>的大坑, 呵呵.<br>除此之外, 公司离职回来一直准备毕业论文、毕业答辩、毕业相关材料, 真是焦头烂额.<br>不过想想十九年求学生涯就要结束了, 即将AFK了, 简直幸福.</p>
                            </blockquote>

                        </div>
                    </article>
                </div>
                <div class="tags">
							<span class="tag-list"><i class="fa fa-tags" aria-hidden="true"></i>
								<a class="tag-name" href="">docker</a>
								<a class="tag-name" href="">docker</a>
							</span>
                    <span class="tag-list"><i class="fa fa-tags" aria-hidden="true"></i>docker </span>
                    <span class="tag-list"><i class="fa fa-tags" aria-hidden="true"></i>docker </span>

                </div>
            </li>
        </ul>

    </div>

    <div class="more"><a href="#" class="next">more</a></div>
</div>

<footer class="footer">
    <div class="copyright">
        <p>© 2019
            <a href="http://geekerblog.com">Alex</a>, All rights reserved.
        </p>
    </div>
</footer>

</body>

</html>
